 {
margin: 10px;
padding: 10px;
font-family: ; 
}

content {
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 20% 20% 20% 20% 20%;  
}

.logo { 
padding-top: 50px;
padding-left: 500px;
display: flex;
justify-self: center;
height: 100px;
width: 100px;
}

nav {
padding-bottom: 2em;
padding-top: 0;
display: flex;
justify-content: space-evenly;
padding-left:300px;
padding-top: -5em;
}

.foot {
margin-top: 100px;

}
.card-img {
grid-column: 1/2;
grid-row: 1/2;
box-shadow: px px #6f7364;
}

.card-img2 {
grid-column: 2/3;
grid-row: 1/2;
box-shadow: px px #6f7364;
}

.card-img3 {
grid-column: 3/4;
grid-row: 1/2;
box-shadow: px px #6f7364;
}

#date-msg {
align-content: center;
justify-content: center;
}

.title {
display: flex;
justify-content:center; 
padding: 50px;
}

.msg h1 {
display: flex;
justify-content:center; 
padding: 50px;
}

.msg p:nth-of-type(1),.msg p:nth-of-type(2),.msg p:nth-of-type(3) {
text-align: center;
} 

.topic-grid {
display: ;    
align-content: center;
justify-content: center;
}

.msg p {
display: flex;
justify-content:center; 
padding-bottom: 2em;
}

.topic { 
padding-bottom:50px;
margin-left: 25px;
}

nav a:hover {
background-color: white;
border-radius: 1px;
}

body {
background-color: white;
font-family: 'Helvetica', 'Arial', 'sans-serif';
font-size: 22px;
margin: ;
padding: ;
}

.topic-home {
grid-template-columns: 33% 34% 33%;
grid-template-rows: 100%;
}

.topic-la
.card-img4 {
grid-column: 1/2;
grid-row: 1/2;
box-shadow: px px #6f7364;
}

.card-img5 {
grid-column: 3/4;
grid-row: 1/2;
box-shadow: px px #6f7364;
}

.issue {
display: flex;

height: 400px;
box-shadow: 5px 5px px #6f7364;
padding: 100px;
}

.afg-card, .covid-card,.money-card, .court-card, .baby-card, .all-topics {
display: flex;
justify-content: space-evenly;
height: 400px;
box-shadow: 5px 5px px #6f7364;
padding: 100px;
}

.card-img5 {
display: flex-end;
justify-content:right;
height: 100px;
width: 100px;
box-shadow: px px #6f7364;
}

.all-topics {
display: flex;
justify-content: center;
align-items:center;
}
.nav-link {
display:flex-row;
justify-content: space-evenly;
padding:10px;
font-style:bold;
}

.topnav {
overflow: hidden;
background-color: #e9e9e9;
}
  
.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
  
.topnav a:hover {
background-color: #ddd;
color: black;
}
  
.topnav a.active {
background-color: #2196F3;
color: white;
}
  
.topnav .search-container {
float: right;
}
  
.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}
  
.topnav .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
  
.topnav .search-container button:hover {
background: #ccc;
}
  
.content-img {
display: flex;
justify-content:center;
height: 500px;
width: 500px;
box-shadow: 5px 10px #6f7364;
}

.date, .topic {
display: flex;
justify-content: center;
justify-items: center;
}

.data-card, .left-card, .right-card, .references {
align-content: center;
justify-content: center;
padding: 100px;    
}


topic {
display: flex;
justify-content:center;
padding-top: 50px;
padding-bottom: 100px;
margin-left: 50px;
}

@media screen and (max-width: 600px) {
.topnav .search-container {
float: none;
}

.topnav a, .topnav input[type=text], .topnav .search-container button {
float: none;
display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}

.topnav input[type=text] {
border: 1px solid #ccc;  
}
}