#content {
max-width: 1600px;
text-align: center;
margin: 0 auto;    
}

.body {
background-color: white;
font-family: 'Sentient', 'Helvetica', 'Arial', 'sans-serif';
font-size: 30px;
}

.logo { 
padding-top: 0px;
padding-left: 0px;
display: flex;
justify-self: left;
height: 100px;
width: 100%;
}

.nav {
padding-bottom: 2em;
display: flex;
align-items: center;
justify-content: space-evenly;
} 

.nav-link {
display:flex;
justify-content: space-evenly;
padding:10px;
}

.topnav {
overflow: hidden;
background-color:  #A43312;
}
 
.topnav a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 25px;
}
      
.topnav a:hover {
background-color:#396E94 ;
color: black;
}
      
.topnav a.active {
background-color: #2196F3;
color: white;
}
      
.topnav .search-container {
float: right;
}
      
.topnav input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
}
      
.topnav .search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
      
.topnav .search-container button:hover {
background: #ccc;
}
   
.title {
display: flex;
justify-content:center; 
font-size: 2em;
padding: 50px;
color: #396E94;
}

.home-grid {
}

.card {
display: inline;
height: 300px;
width: 300px;
box-shadow: 15px 15px px #6f7364;
padding: 100px;
}

.card-img {
height: 200px;
width: 350px;
box-shadow: 15px 15px #6f7364;
}

.card-img2 {
 
height: 200px;
width: 200px;
box-shadow: 5px 5px #6f7364;
padding-left: 200px;
padding-right: 200px;
}

.card-img3 {  
height: 200px;
width: 200px;
box-shadow: 5px 5px #6f7364;
}

.msg {
margin-top: 100px;
}

.msg h1 {
display: flex;
justify-content:center; 
padding-top: 100px;
padding: 25px;
font-size: 2em;
color: #396E94;
}
  
.msg p {
display: flex;
justify-content:center; 
padding-bottom: 1.5em;
font-size: 1.5em;
font:bold;
color: #381D2A;
}

.msg p:nth-of-type(1),.msg p:nth-of-type(2),.msg p:nth-of-type(3) {
text-align: center;
} 

.layout h1 {
color:#396E94;
padding-top: 50px;
font-size: 2em;
}

.layout p {
color: #381D2A; 
font-size: 1.5em;   
}

.footer {
display: flex;
margin-top: 100px;
background-color: #396E94;
color:white;
} 

.foot {
color:white;
padding-left: 5em;;
}

.footer-link {
color:white;
}

.social {
display: flex;

padding-top: 75px;
padding-left: 800px;
color: #396E94;
}

.date, .topic {
justify-content: center;
justify-items: center;
align-content: center;
}

.topic { 
padding-bottom:50px;
margin-left: 25px;
font-size: 3em;
color:#396E94;
}

.date {
color: blue;
padding-top: 2em;
font-size: 1.5em;
}

.issue {
display: flex;
justify-content: center;
align-items: center;
height: 400px;
box-shadow: 50px 50px px #6f7364;
}

.data p1 {
display: flex;
color: #381D2A;  
margin-left: 150px;
font-size: 2em;  
}

.data-card , .left-card, .right-card, .references-card {
display: flex;
font-size: 1.5em;
align-content: left;
color:#396E94;
padding: 100px;    
margin-right: 700px;
}


.topic-grid {   
align-content: center;
justify-content: center;
color: #396E94;
}

.topic-grid-link {
color:#396E94;   
}

.all-topics {
display: flex;
justify-content: center;
align-items:center;
margin-top: -3em;
color: #396E94;
font-size: 2em;
margin-right: 1200px;
}
    
.afg-card, .covid-card, .money-card, .court-card, .baby-card, .all-topics {
display: flex;
justify-content: space-around;
height: 400px;
box-shadow: 15px 15px px #6f7364;
color: #396E94;
margin-left: 400px;
}

.issue-img {
display: flex;
justify-content: center;
height: 500px;
width: 500px;
box-shadow: 5px 10px #6f7364;
}

#contact {
margin-left: 150px;
margin-top: 100px;
margin-bottom: 500px;
font-size: 2em;
color: #396E94;
}

#name {
margin: 25px;
padding: 5px   
}

#mail {
margin: 25px;
padding: 5px   
}

#msg {
padding: 15px   
}

@media screen and (max-width: 600px) {
.topnav .search-container {
float: none;
}

.topnav a, .topnav input[type=text], .topnav .search-container button {
float: none;
display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}

.topnav input[type=text] {
border: 1px solid #ccc;  
}
}